[Desktop Entry]
Name=Luminix
Comment=Image viewer and editor
Exec=./luminix %f
Icon=./luminix_icon.png
Type=Application
Terminal=false
MimeType=image/avif;image/jpeg;image/png;image/gif;image/webp;image/tiff;image/x-targa;image/x-tga;image/vnd-ms.dds;image/vnd.ms-dds;image/x-dds;image/bmp;image/x-icon;image/vnd.microsoft.icon;image/vnd.radiance;image/x-exr;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/x-qoi;
Categories=Graphics;Utility;
StartupWMClass=Luminix